@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
@Html.ActionLink("Create Task", "Create", "Tasks", null, new { @class = "btn btn-default home-link-button" })

<br />
<br />
@Html.ActionLink("Pick a Random Task", "Random", "Tasks", null, new { @class = "btn btn-default home-link-button" })

<br />
<br />
@Html.ActionLink("View All Active Tasks", "AllActiveTask", "Tasks", null, new { @class = "btn btn-default home-link-button" })

<br />
<br />
@Html.ActionLink("View Completed Tasks", "CompletedList", "Tasks", null, new { @class = "btn btn-default home-link-button" })

<br />
<br />
@Html.ActionLink("Sign Out", "SignOut", "User", null, new { @class = "btn btn-default home-link-button" })



<br />
<br />
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfWWs_KZa-EWK_R3mcn5K_2DnFrEU2s6dgEptmRsS8Jbpdg4A/viewform">Request new features</a>







